#!/usr/bin/env bash

# A template foe the build.sh script, which a dependant project should use as bootstrap.
# The build.sh script is the entry point for the build workflow, you should place this in your 
# project, under <repo-root>/ci-build-v2/build.sh, edit it to suit your needs and then call it from
# the github Actions workflow, using the appropriate arguments.

set -e

# The script does the following:

# Overrides any stage you need to customise with respect to the default implementation available for 
# your target flavour. Or, does nothing if you're fine with the defaults
function stage_build_setup_local
{
	printf "== Hello, I'm doing a custom setup for your project build\n"
} 

# Downloads and run our install.sh script, which in turn downloads the common scripts for the target flavour.
printf "== Installing ci-build scripts and then running the build\n"
# You can point to a particular release tag or branch
ci_build_url_base="https://raw.githubusercontent.com/Rothamsted/knetminer-common/refs/heads/ci-build-v2"
script_url="$ci_build_url_base/ci-build-v2/install.sh"

# install.sh takes the URL base to our own repository, and the flavour (eg, java-maven, python-poetry) you
# want to use to build your project. Details in the script itself.
. <(curl --fail-with-body -o - "$script_url") "$ci_build_url_base" python-poetry

main
