# This is here just to force git to add its parent directory, which is part of the structure of 
# a new project based on this archetype.
#
# If you need, you can add entries specific to this dir here.
#
